@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;700;900&family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,900;1,300;1,700&family=Roboto:wght@100;300;400;500;700;900&family=Source+Sans+Pro:ital,wght@0,400;0,600;0,700;0,900;1,200;1,300;1,400&family=Source+Serif+4:opsz,wght@8..60,300;8..60,400;8..60,500;8..60,600;8..60,700;8..60,900&family=Ubuntu:wght@400;700&display=swap");
/* common styles */
a {
	text-decoration: none;
}

body {
	background-color: white;
	font-family: "Ubuntu", sans-serif;
}
main {
	padding: 20px 100px;
}
/* Banner styles */

.banner-title {
	font-size: 70px;
	font-weight: 700;
	margin-bottom: 20px;
}

.banner-section p {
	font-size: 16px;
	letter-spacing: 0.8px;
	margin: 20px 0px;
}
.banner-button {
	margin: 30px 0px;
}
.banner-section {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	background-color: #161616;
	color: white;
	border-radius: 10px;
	padding: 0px 20px;
}

.half-width {
	width: 50%;
	margin-left: 20px;
}

.half-width img {
	width: 100%;
	margin-top: 20px;
}

.link-button {
	text-transform: capitalize;
	background-color: #dd0000;
	color: white;
	padding: 0.7em 1em;
	border: 2px solid #dd0000;
	border-radius: 5px;
	font-weight: 700;
	transition: color 0.2s, background-color 0.3s;
}

.banner-button .link-button:hover {
	border-color: #dd0000;
	background-color: white;
	color: #dd0000;
}
.fa-chevron-right {
	margin-left: 10px;
}

/* Blog styles */

.blog-section {
	margin: 100px 0px;
	display: flex;
}
.blog-section .left-side {
	display: flex;
	flex-direction: column;
	width: 250px;
	height: 250px;
	background-color: #161616;
	margin-right: 30px;
	border-radius: 10px;
	justify-content: space-evenly;
	align-items: center;
}

.blog-section .right-side {
	width: calc(100% - 200px);
}

.blog {
	width: 260px;
	display: flex;
	flex-direction: column;
	box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
		rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
	border-radius: 10px;
}
.blog-info {
	margin-top: 10px;
	padding: 15px;
}
.blog-details {
	display: flex;
	align-items: center;
}

.blog-details .time,
.blog-details .comment {
	display: flex;
	align-items: center;
}
.blog-details .time {
	margin-right: 20px;
}

.blogs {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	row-gap: 20px;
	column-gap: 20px;
}
.blog-section-button {
	background-color: white;
	color: black;
	width: 150px;
	text-align: center;
	border-radius: 10px;
	text-transform: capitalize;
	font-size: 18px;
	padding: 0.5em 0;
	transition: 0.2s;
}

.transfer-link {
	color: #161616;
}

.blog-section-button.active,
.blog-section-button:hover {
	background-color: #dd0000;
	color: white;
}
.blog a {
	color: #161616;
	margin-top: 25px;
	border: 1px solid #161616;
	text-align: center;
	padding: 0.5em 1.5em;
	border-radius: 5px;
}
.blog-title {
	font-size: 18px;
	color: #161616;
}

footer {
	background-color: #161616;
	padding: 20px 100px;
	color: white;
	text-align: center;
	padding-bottom: 100px;
	padding-top: 80px;
}

.footer-link a {
	color: white;
	margin-left: 30px;
}

.footer-line {
	margin: 50px 0px;
	border: 0.01px solid rgba(255, 255, 255, 0.1);
}

footer h2 {
	font-size: 40px;
}

.footer-link {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.social-link {
	margin-top: 40px;
}
.social-link i {
	color: white;
	font-size: 20px;
	margin-left: 30px;
}

.view-all-button {
	display: none;
	text-align: center;
}
.view-all-button button {
	font-size: 18px;
	padding: 0.5em 1em;
	background-color: #dd0000;
	border: 1px solid #dd0000;
	border-radius: 10px;
	color: white;
	cursor: pointer;
	margin: 50px 0;
}

/* ---------------------------
Team matches styles ---------*/

.matches {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	column-gap: 30px;
	row-gap: 20px;
}
.flag,
.team-name {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.team-name {
	text-transform: uppercase;
	justify-content: space-between;
	margin-top: 20px;
}
.flag-vs {
	margin: 0px 10px;
}

.match {
	display: flex;
	flex-direction: column;
	border-radius: 10px;
	padding: 20px;
	box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
		rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.flag img {
	width: 94px;
	height: 55px;
}

.match p {
	font-weight: 800;
}

/* -----------------------------------
Group styles-----------------------------*/

.groups {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	column-gap: 20px;
	row-gap: 30px;
}

.group-header {
	text-align: center;
	font-size: 40px;
}
.group {
	box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
		rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
	padding: 10px 50px;
	border-radius: 10px;
}
.group h3 {
	text-transform: uppercase;
}

.group-title {
	text-transform: uppercase;
}

/* Media query for tab view */

@media only screen and (min-width: 600px) and (max-width: 992px) {
	.banner-title {
		font-size: 30px;
	}
	.display-none {
		display: none;
	}

	.banner-section p {
		font-size: 14px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	.link-button {
		margin-bottom: 20px;
	}
	.banner-section {
		align-items: flex-end;
	}
	.half-width img {
		width: 100%;
	}
	.blog-section {
		width: 100%;
		flex-direction: column;
		align-items: center;
		margin: 20px 0px;
	}
	.blog-section .left-side {
		width: 100%;
		flex-direction: row;
		background-color: white;
		justify-content: space-between;
		height: 200px;
		margin: auto;
	}

	.blog {
		width: 100%;
	}
	.blog-section-button {
		border: 1px solid #e8e8e8;
		padding: 0.6em 0.5em;
	}
	.view-all-button {
		display: block;
	}
	main {
		padding: 20px 40px;
	}

	.blog-section .right-side {
		width: 100%;
	}

	.blogs,
	.matches,
	.groups {
		grid-template-columns: repeat(2, 1fr);
		justify-items: center;
		max-width: 100%;
	}

	footer {
		padding: 20px 40px;
	}
	.footer-link a {
		margin: 20px;
	}
}

/* Media query for tab view */

@media only screen and (max-width: 720px) {
	.banner-title {
		font-size: 25px;
		margin-bottom: 10px;
	}
	.blog {
		width: 250px;
	}
}

@media only screen and (min-width: 600px) and (max-width: 661px) {
	.match {
		padding: 10px;
	}
}

/* Media query for small mobile devices */

@media only screen and (max-width: 600px) {
	main {
		padding: 10px 20px;
	}
	.banner-section p {
		font-size: 12px;
		margin: 30px 0px;
		letter-spacing: 0.5;
	}
	.banner-title {
		margin-bottom: 20px;
	}
	.banner-section {
		flex-direction: column;
	}
	.half-width {
		width: 100%;
		margin-left: 0px;
		text-align: center;
	}
	.banner-title {
		font-size: 30px;
	}
	.banner-button {
		margin-top: 20px;
	}
	.blog-section {
		width: 100%;
		flex-direction: column;
		align-items: center;
		margin: 20px 0px;
	}
	.blog-section .left-side {
		width: 100%;
		background-color: #fff;
	}
	.blog-section-button {
		border: 1px solid #e8e8e8;
		font-size: 20px;
		width: 200px;
	}
	.blogs,
	.matches,
	.groups {
		grid-template-columns: repeat(1, 1fr);
		row-gap: 20px;
		column-gap: 0px;
		justify-content: center;
	}

	.blog-section .right-side {
		width: 100%;
	}
	.blog {
		width: 90%;
		margin: auto;
	}

	.footer-link a {
		font-size: 14px;
		margin: 20px;
	}
	.footer-link {
		flex-direction: column;
	}
	footer {
		padding: 20px 20px;
		text-align: center;
	}
}

@media only screen and (max-width: 304px) {
	.footer-link {
		flex-direction: column;
	}
	.blogs {
		gap: 20px;
	}
}
